.dark{
    background: #262F3D;
}

.dark .title{
    color: #fff;
}

.dark .selected-range{
    color: #fff;
}

.dark .label{
    fill: #5C6B7B
}

.dark .hover-group{
    stroke-width: 3px;
    fill: #262F3D;
}

.dark #tooltip{
    border-color: #404C5B;
    color: #fff;
    background-color: #1E2532;
    box-shadow: 0 0 4px rgba(87, 87, 87, 0.623);
}

.dark .tooltip-line{
    stroke: #404C5B;
}

.dark .grid{
    stroke: #343E4C;
}

.dark .handler{
    fill: #56626D;
}

.dark .shutter{
    fill: #304259;
}


.dark .legend-item{
    border-color: #394858;
    color: #F4F7F9;
}

.dark .checkmark .check{
    stroke: #262F3D;
}
    

.dark #theme-switcher{
    background-color: rgba(38,47,61,0.85);
}


.dark .night-label{
    display: block;
}

.dark .day-label{
    display: none;
}