html, body{
    width: 100%;
    height: 100%;
}
.charts{
    height: 70%;
}
.chart{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 15px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.title{
    font-size: 24px;
}

.svg{
    fill: none;
    stroke: none;
    user-select: none;
}

.label{
    fill: #7E8C96
}

.hover-group{
    stroke-width: 3px;
    fill: white;
}

#tooltip{
    border: 1px solid #E0E6EA;
    color: black;
    border-radius: 12px;
    display: inline-block;
    padding: 20px 30px; 
    background-color: white;
    font-size: 38px;
    margin: 2px;
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.623);
}

#tooltip .date{
    white-space: nowrap;
}

.series-data{
    display: inline-block;
    margin-right: 12px;
    margin-top: 30px;
}

.series-data .value{
    font-weight: bold;
}

.series-data .name{
    margin-top: 10px;
    font-size: 28px;
}

.tooltip-line{
    stroke-width: 3px;
    stroke: #E0E6EA;
}

.test-label{
    visibility: hidden;
}

.grid{
    stroke: #F2F4F5;
    stroke-width: 3px;
    transform: translate(0, 1px);
}

.grid .first{
    transform: translate(0, -2px);
}

.handler{
    fill: #DDEAF3;
    opacity: 0.60;
}

.shutter{
    opacity: 0.40;
    fill: #DDEAF3;
}

.selector{
    padding-top: 15px;
    touch-action: pan-x pan-y;
}

.selector .background{
    fill: transparent;
}

.series {
    stroke-width: 3px;
}

.legend{
    padding-top: 15px;
    user-select: none;
}

.legend-item{
    display: inline-block;
    border: 3px solid #E0E6EA;
    border-radius: 30px;
    padding: 10px;
    margin-right: 16px;
    font-size: 18px;
}

.svg-wrapper {
    display: inline-block;
    line-height:20px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    overflow: visible;
    vertical-align: middle;
}

.circle-border{
    fill: transparent;
}

.checking .circle{
    animation: scale-forward .4s;
}

.checking .mark{
    animation: scale-forward .4s;
}

.unchecking .circle{
    animation: scale-backward .4s;
    transform: translate(26px, 26px) scale(0, 0);
}

.unchecking .mark{
    animation: scale-backward .4s;
    transform: translate(26px, 26px) scale(0, 0);
}


@keyframes scale-forward {
    0% {
        transform: translate(26px, 26px) scale(0, 0)
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
    50% {
      transform: translate(-2px, -2px) scale(1.1, 1.1);
    }
}


@keyframes scale-backward {
    0% {
        transform: translate(0, 0) scale(1, 1);
    }
    100% {
        transform: translate(26px, 26px) scale(0, 0);
    }
    50% {
        transform: translate(-2px, -2px) scale(1.1, 1.1)
    }
  }

.checkmark .check{
    stroke: white;
    fill: transparent;
    stroke-width: 3px;
}

.legend-label{
    display: inline-block;
    margin: 0 25px;
    vertical-align: middle;
}