
.chart{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 15px;
}

.title{
    font-size: 24px;
}

.svg{
    fill: none;
    stroke: none;
    user-select: none;
}

.label{
    fill: #888
}

.test-label{
    visibility: hidden;
}

.grid{
    stroke: #e6e6e6;
    stroke-width: 1px;
}

.handler{
    fill: cornflowerblue;
    opacity: 0.35;
}

.shutter{
    opacity: 0.15;
    fill: cornflowerblue
}

.selector{
    padding-top: 15px;
    touch-action: none;
}

.selector .background{
    fill: transparent;
}

.series {
    stroke-width: 2;
}

.legend{
    padding-top: 15px;
}

.legend-item{
    display: inline-block;
    border: 1px solid #888;
    border-radius: 20px;
    padding: 10px;
    margin-right: 16px;
    font-size: 16px;
    line-height:20px;
}

.svg-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: visible;
}

.circle-border{
    fill: transparent;
}

.checking .circle{
    animation: scale-forward .4s;
}

.checking .mark{
    animation: scale-forward .4s;
}


.unchecking .circle{
    animation: scale-backward .4s;
    transform: translate(26px, 26px) scale(0, 0);
}

.unchecking .mark{
    animation: scale-backward .4s;
    transform: translate(26px, 26px) scale(0, 0);
}


@keyframes scale-forward {
    0% {
        transform: translate(26px, 26px) scale(0, 0)
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
    50% {
      transform: translate(-2px, -2px) scale(1.1, 1.1);
    }
}


@keyframes scale-backward {
    0% {
        transform: translate(0, 0) scale(1, 1);
    }
    100% {
        transform: translate(26px, 26px) scale(0, 0);
    }
    50% {
        transform: translate(-2px, -2px) scale(1.1, 1.1)
    }
  }

.checkmark .check{
    stroke: white;
    fill: transparent;
    stroke-width: 2px;
}

.legend-label{
    display: inline-block;
    height: 20px;
    line-height:20px;
    margin-left: 10px;
    padding-bottom: 10spx;
    font-size: 18px;
}